*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.suit {
  position: absolute;
  top: 45%;
  left: 50%;
  font-size: 7rem;
  transform: translate(-50%, -50%);
}

.suit-clubs, .suit-spades {
  color: #000000;
}

.suit-hearts, .suit-diams {
  color: #ff0000;
}

.clubs, .spades {
  color: #000000;
  font-size: 2rem;
}

.hearts, .diams {
  color: #ff0000;
  font-size: 2rem;
}

.top-value {
  position: absolute;
  top: 0.4%;
  left: 5%;
}

.bottom-value {
  position: absolute;
  bottom: 0.1%;
  right: 5%;
  transform: rotate(180deg);
}